if oneRow == true
	//- - each item, index in list
	li(id="#{list.company_id}")
		span.name #{list.name}
		|, 
		span.earnings #{list.earnings}

		span
			button.button.show_form(name='add_company') add
			button.button.del_company del
			button.button.show_form(name='edit_company') edit
    
else	
	ul.list
    
		- each item, index in list
        
			li(id="#{item.company_id}")
				span.name #{item.name}
				|, 
				span.earnings #{item.earnings}
            
				span
					button.button.show_form(name='add_company') add
					button.button.del_company del
					button.button.show_form(name='edit_company') edit
					if item.children 
						button.button.show_children >>>

